SUPABASE_URL=https://avlbsdvctcqeswyaomdb.supabase.co
SUPABASE_ANON_KEY=
OFFI_PASSWORD=
ROYALE_PASSWORD=
NEXT_PUBLIC_OFFI_PASSWORD=

WCL_CLIENT_ID=a1d6090e-9229-4d74-80f1-0409d17c653a
WCL_CLIENT_SECRET=
