.env
.env.local
.DS_Store

# Next.js
.next/
node_modules/

# Generated config files (written by build-config.js)
public/boosting/src/js/config.js
public/offi-stuff/src/js/config.js
public/royale/src/js/config.js
